<div class="topnav">
  <div class="">
    <a routerLink="home">Home</a>
    <a routerLink="patients">My patients</a>
  </div>
  <div>
    <div class="" *ngIf="!logged">
      <a class="login" routerLink="/login" (click)="handleClickLogout()">
      Login
      </a>

    </div>

    <div class="" *ngIf="logged">
      <div class="balance" >My Identifier : {{myIdentifier}}</div>

      <a class="logout" routerLink="/login" (click)="handleClickLogout()">
        <img
          src="assets/images/logout.svg"
          alt="logout"
          class="logout"
        />
      </a>
    </div>
  </div>
</div>
