
  <div class="transferModal">
    <div class="content">

      <div class="transfer-form display-card">

      </div>

      <br>
      <label class="mat-card-title label">List of patients</label>
      <div class="display-card">


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Firstname </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th class="topraw" mat-header-cell *matHeaderCellDef> Lastname </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element" > {{element.phone}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="handleClickRow(row)" class="clickable"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20, 50]"
          [pageSize]="10"
          showFirstLastButtons
        >
        </mat-paginator>


        <button (click)="newPatient()" class="button button-validate button-home">
          Add new patient
        </button>

      </div>


    </div>
  </div>



