<div class="modal-coantainer">
  <h2 mat-dialog-title>New note</h2>

  <mat-dialog-content  class="modal-form">


    <div class="modal-form" >
      <mat-label class="label"></mat-label>
      <textarea class="modal-form"
                matInput
                type="text"
                placeholder="Note"


                [(ngModel)]="this.form.value.note"
      ></textarea>

    </div>




  </mat-dialog-content>


  <mat-dialog-actions align="center">
    <button class="button"(click)="close()">Close</button>
    <button class="button button-primary"(click)="save()">Save</button>
  </mat-dialog-actions>
</div>
